<p>
<% num1 = @number1.to_i %>
<% num2 = @number2.to_i %>

<% case @operation
when 'add'
  sum = "#{num1 + num2}" %>
  <%= sum %>
<% when 'subtract'
  minus = "#{num1 - num2}" %>
  <%= minus %>
<% when 'multiply'
  mult = "#{num1 * num2}" %>
  <%= mult %>
<% when 'divide'
  division = "#{num1 / num2}" %>
  <%= division %>
<% end %>

</p>
